.add-plan {
    position: fixed;
    max-width: 866px;
    height: 100%;
    width: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: block;
    z-index: 1000;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid var(--border-modal);

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 24px;

        &__title {
            font-family: 'Montserrat-Bold', sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: var(--primary);
        }

        &__control {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-save {
                margin-right: 16px;
            }
        }

    }
}
