<div class="add-plan" #modal>
    <section class="header">
        <div class="header__title">Планирование</div>
        <div class="header__control">
            <el-button-save class="header__control-save"></el-button-save>
            <el-button-close class="header__control-close" (click)="closeModal($event)"></el-button-close>
        </div>
    </section>
    <section class="tabs-content">
        <mat-tab-group>
            <mat-tab label="Основное">scsfdsw</mat-tab>
            <mat-tab label="Участники"> Content 2</mat-tab>
        </mat-tab-group>
    </section>
</div>
